img {
    max-width: 200px;
}
ul {
    list-style-type: none;
}

.imageContainer {
    display: inline-grid;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 2px purple;
    border-radius: 7%;
    padding: .3em;
    box-shadow: 5px 7px #888888;
}